{% extends 'base.html' %}
{% block title %}Cambios guardados{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'sgpa2016:modificar_contrasena' %}">{{usuario.username}}</a>!
		</div>
		
	<link href="/static/menu.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href='/sgpa/usuarios/index/'>Usuarios</a></li>
		  		<li><a href='/sgpa/roles/index/'>Roles</a></li>
		  		<li><a href='/sgpa/proyectos/index/'>Proyectos</a></li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
			<div id="pagina">
				<div id="zonaContenido">
					<div align="center">
						{% if aid == 1 %}
							<div id="tituloForm" class="header">PROYECTO CREADO</div>
						{% elif aid == 2 %}
							<div id="tituloForm" class="header">PROYECTO DEFINIDO</div>
						{% elif aid == 3 %}
							<div id="tituloForm" class="header">PROYECTO MODIFICADO</div>
						{% endif %}
							<div id="frmBusqueda">
								<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
									<colgroup>
										<col width="16%">
										<col width="21%">
										<col width="21%">
										<col width="21%">
										<col width="21%">
									</colgroup>
									<tr>
										<td><b>ID</b></td>
										<td colspan="2">{{proyecto.id}}</td>
								    </tr>
								    
									<tr>
										<td><b>Nombre Largo</b></td>
									    <td colspan="2">{{proyecto.nombre_largo}}</td>
								    </tr>
								    {% if aid > 1%}
									    <tr>
											<td><b>Nombre Corto</b></td>
										    <td colspan="2">{{proyecto.nombre_corto}}</td>
									    </tr>
									    
									    <tr>
											<td><b>Tipo</b></td>
											{% if proyecto.tipo == True %}
										    	<td colspan="2">Proyecto</td>
										    {% else %}
										    	<td colspan="2">Servicio</td>
										    {% endif %}
									    </tr>
								    
								    	<tr>
											<td><b>Descripcion</b></td>
										    <td colspan="2">{{proyecto.descripcion}}</td>
									    </tr>		
									{% endif %}
								</table>
							</div>
							
							<div id="botonBusqueda">
        							<p align="center">Los cambios han sido guardados.  <img src="/static/img/disco.png" alt="Guardados"/></p>
        							<a href="{% url 'sgpa2016:index_proyectos'%}" class="button" type="submit">Volver</a>
        					</div>
						</div>
					</div>
				</div>
			</div>
{% endblock content %}