{% extends 'base.html' %}
{% block title %}Editar Roles{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'sgpa2016:modificar_contrasena' %}">{{usuario.username}}</a>!
		</div>
		
	<link href="/static/menu.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href='/sgpa/usuarios/index/'>Usuarios</a></li>
		  		<li><a href='/sgpa/roles/index/'>Roles</a></li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
		<div id="pagina">
			<div id="zonaContenido">
				<div align="center">
					<div id="tituloForm" class="header">EDITAR ROL</div>
					<div id="frmBusqueda">
						<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }} 
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								<colgroup>
									<col width="15%">
									<col width="18%">
									<col width="18%">
									<col width="18%">
									<col width="18%">
									<col width="13%">
								</colgroup>
								<tr>
									<td><b>ID</b></td>
									<td colspan="2">{{rol.id}}</td>
								</tr>
								<tr>
									<td><b>Nombre</b></td>
								    <td colspan="2"><input NAME="nombre" type="text" class="cajaGrande" id="nombre" size="50" maxlength="50" value="{{rol.nombre}}"></td>
								</tr>	
										
								<tr>
									<td><b>Tipo</b></td>
									<td colspan="2"> <input type="checkbox" name="tipo" id="tipo">¿Rol de Sistema?<br></td>
								</tr>
								
								<tr>
									<td><b>Observación</b></td>
									<td colspan="2"><input NAME="observacion" type="text" class="cajaGrande" id="observacion" size="50" maxlength="50" value="{{rol.observacion}}"></td>
								</tr>
											
							</table>	
					</div>
					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
							
					<div id="tituloForm" class="header">PERMISOS ASIGNADOS </div>
					<div id="frmBusqueda">
						<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
							<tr>
								<td width="35%"><u><b>NIVEL PRIMARIO</b></u></td>
								<td width="35%"><u><b>NIVEL SECUNDARIO</b></u></td>
								<td width="35%"><u><b>NIVEL TERCIARIO</b></u></td>
							</tr>
								
								{% if lista %}
									{% for p, q, r in lista %}
										
										<tr>
											{% if p %}
												<td width="35%">{{ p }}<br></td>
											{% endif %}
											{% if q %}
												<td width="35%">{{ q }}<br></td>
											{% endif %}
											{% if r %}
												<td width="35%">{{ r }}<br></td>
											{% endif %}
										</tr>
											
									{% endfor %}
								{% endif %}

						</table>
					</div>

					<div id="botonBusqueda" align="center">
						<img src="/static/img/atencion.png" alt="Atención"/>
						Los permisos que no sean marcados se considerarán desasignados.
						Si quiere mantener los permisos que ya poseía, vuelva a marcarlos.
					</div>

					<td>&nbsp;</td>
					<td>&nbsp;</td>
					
					<div id="tituloForm" class="header">ASIGNAR PERMISOS</div>
					<div id="frmBusqueda">
							<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								
								<tr>
									<td width="35%"><u><b>NIVEL PRIMARIO</b></u></td>
									<td width="35%"><u><b>NIVEL SECUNDARIO</b></u></td>
									<td width="35%"><u><b>NIVEL TERCIARIO</b></u></td>
								</tr>
								
								{% if permisos %}
									{% for p, q, r in permisos %}
										
										<tr>
											{% if p %}
												<td width="35%"><input type="checkbox" name="permisos" id="option{{ p.id }}" value="{{ p.id }}">{{ p }}<br></td>
											{% endif %}
											{% if q %}
												<td width="35%"><input type="checkbox" name="permisos" id="option{{ q.id }}" value="{{ q.id }}">{{ q }}<br></td>
											{% endif %}
											{% if r %}
												<td width="35%"><input type="checkbox" name="permisos" id="option{{ r.id }}" value="{{ r.id }}">{{ r }}<br></td>
											{% endif %}
										</tr>
											
									{% endfor %}
								{% endif %}
										
							</table>
					</div>
					
					<div id="botonBusqueda">
						<button class="button" type="submit">MODIFICAR ROL</button>
				  		<a href="{% url 'sgpa2016:index_roles'%}" class="button" type="submit">CANCELAR</a>
					</div>
					</form>
				</div>
			</div>
		</div>
			

{% endblock content %}