{% extends 'base.html' %}
{% block title %}Registro de Usuario{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'sgpa2016:editar_usuarios' usuario.id %}">{{usuario.username}}</a>!
		</div>
		
	<link href="/static/menu.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href='/sgpa/usuarios/index/'>Usuarios</a></li>
		  		<li><a href='/sgpa/roles/index/'>Roles</a></li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
			<div id="pagina">
				<div id="zonaContenido">
					<div align="center">
						{% if aid == 1 %}
							<div id="tituloForm" class="header">ROL DE USUARIO CREADO</div>
						{% elif aid == 2 %}
							<div id="tituloForm" class="header">ROL DE USUARIO MODIFICADO</div>
						{% else %}
							<div id="tituloForm" class="header">ROL DE USUARIO BORRADO</div>
						{% endif %}
							<div id="frmBusqueda">
								<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
									<colgroup>
										<col width="16%">
										<col width="21%">
										<col width="21%">
										<col width="21%">
										<col width="21%">
									</colgroup>
									<tr>
										<td><b>ID</b></td>
										<td colspan="2">{{rol.id}}</td>
								    </tr>
								    
									<tr>
										<td><b>Nombre</b></td>
									    <td colspan="2">{{rol.nombre}}</td>
								    </tr>
								    
								    <tr>
										<td><b>Tipo</b></td>
										{% if rol.tipo == True %}
									    	<td colspan="2">Rol de Sistema</td>
									    {% else %}
									    	<td colspan="2">Rol de Usuario</td>
									    {% endif %}
								    </tr>
							    
								    <tr>
										<td><b>Observación</b></td>
									    <td colspan="2">{{rol.observacion}}</td>
								    </tr>
								    
								    <tr>
										<td><b>Permisos</b></td>
										{% if pr %}
											{% for p in pr %}
												{% if p.estado == True %}
									    			<td colspan="2">{{ p }}</td>
									    		{% endif %}
									    	{% endfor %}
									    {% endif %}
								    </tr>

								</table>
							</div>
							<div id="botonBusqueda">
        							<p align="center">Los cambios han sido guardados.  <img src="/static/img/disco.png" alt="Guardados"/></p>
        					</div>
						</div>
					</div>
				</div>
			</div>
{% endblock content %}