<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" /> 
		<title>SGPA | Sistema Gerenciador de Proyectos Ágiles</title>
		<table width="0%" border="0" align="center">
			<tr height="0px"></tr>
			<tr height="0px">
				<td>&nbsp;</td>
				<td><div align="center"><img src="/static/img/sgpa.png" alt="SGPA" width="475" height="120" border="0" /></div></td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</head>					
		{% block content %}
        {% endblock %}
    <body>
		<footer><img src="/static/img/sgpa1.png" width="75" height="20" alt="sgpa"> 
			<td><div align="center">Versi&oacute;n Beta</div></td>
			<td><div align="center">&copy; 2016</div></td>
		</footer>	
	</body>
</html>