{% extends 'base.html' %}
{% block title %}Asignación de Roles a Usuarios{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'sgpa2016:editar_usuarios' usuario.id %}">{{usuario.username}}</a>!
		</div>
		
	<link href="/static/menu.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href='/sgpa/usuarios/index/'>Usuarios</a></li>
		  		<li><a href='/sgpa/roles/index/'>Roles</a></li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
										<tr>
											<td width="15%"><b>Rol</b></td>
											<td width="43%">
											   	<select name="rol" id="rol">
													<option selected="selected" disabled="disabled">--- Selecciona un Rol ---</option>
													{% if roles %}
														{% for r in roles %}
															<option value="{{r.id}}">{{r.nombre}}</option>
										   				{% endfor %}
										   			{% endif %}
									   			</select>
											</td>
								   		</tr>	