{% extends 'base.html' %}
{% block title %}Editar Usuario{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'sgpa2016:modificar_contrasena' %}">{{usuario.username}}</a>!
		</div>
		
	<link href="/static/menu.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href='/sgpa/usuarios/index/'>Usuarios</a></li>
		  		<li><a href='/sgpa/roles/index/'>Roles</a></li>
		  		<li><a href='/sgpa/proyectos/index/'>Proyectos</a></li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
			<div id="pagina">
				<div id="zonaContenido">
					<div align="center">
						<div id="tituloForm" class="header">MODIFICAR USUARIO </div>
							<div id="frmBusqueda">
								<form id="formulario" name="formulario" method="post" action="">{% csrf_token %}{{ form.errors }}
									<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
										<tr>
											<td><b>ID</b></td>
											<td>{{um.id}}</td>
							    			<td width="42%" rowspan="13" align="left" valign="top"><ul></ul></td>
										</tr>
										
										<tr>
											<td width="15%"><b>Contraseña</b></td>
							    			<td width="43%"><input NAME="password" type="text" class="cajaGrande" id="password" size="45" minlength="10" value=""></td>
					        			</tr>
					        			
					       				<tr>
											<td width="15%"><b>Contraseña</b></td>
							    			<td width="43%"><input NAME="password2" type="text" class="cajaGrande" id="password2" size="45" minlength="10" value=""></td>
					        			</tr>
					        			
					        			<tr>
											<td width="15%"><b>Email</b></td>
							    			<td width="43%"><input NAME="email" type="text" class="cajaGrande" id="email" size="45" minlength="10" value={{um.email}}></td>
					        			</tr>
					        			
										<tr>
											<td width="15%"><b>Nombres</b></td>
										    <td width="43%"><input NAME="first_name" type="text" class="cajaGrande" id="first_name" size="45" maxlength="30" value="{{um.first_name}}"></td>
								        </tr>
								        
										<tr>
											<td width="15%"><b>Apellidos</b></td>
										    <td width="43%"><input NAME="last_name" type="text" class="cajaGrande" id="last_name" size="45" maxlength="30" value="{{um.last_name}}"></td>
								        </tr>

										<tr>
										  	<td width="15%"><b>Dirección</b></td>
										 	<td width="43%"><input NAME="direccion" type="text" class="cajaGrande" id="direccion" size="45" maxlength="45" value="{{up.direccion}}"></td>
								      	</tr>
								      	
								      	<tr>
										  	<td><b>Teléfono</b></td>
										 	<td><input NAME="telefono" type="text" class="cajaGrande" id="telefono" size="45" maxlength="15" value="{{up.telefono}}"></td>
								      	</tr>
								      	
								      	<tr>
										  	<td><b>Observación</b></td>
										 	<td><input NAME="observacion" type="text" class="cajaGrande" id="observacion" size="45" maxlength="50" value=""></td>
								      	</tr>
								      	
								      	<tr>
								      		<td><b>Observación</b></td>
								      		<td>
										      	<select name="estado" id="estado">
													<option selected="selected" disabled="disabled">--- Selecciona un Estado ---</option>
													<option value="True">Activo</option>
													<option value="False">No Activo</option>
												</select> 
											</td>
										</tr>      	
								      	
									</table>
								</div>
						
								<div id="botonBusqueda">
									<button class="button" type="submit">ACTUALIZAR</button>
        							<a href="{% url 'sgpa2016:index_usuarios'%}" class="button" type="submit">CANCELAR</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}