{% extends 'base.html' %}
{% block title %}Visualizar Usuario{% endblock title %}
{% block content %}
	<link href="/static/style1.css" rel="stylesheet" type="text/css" />
		<div id="welcome" align="center">	
			{{saludo}}, <a href="{% url 'sgpa2016:modificar_contrasena' %}">{{usuario.username}}</a>!
		</div>
		
	<link href="/static/menu.css" rel="stylesheet" type="text/css" />
		<nav>
			<ul id='nav'>
		  		<li><a href='/'>Inicio</a></li>
		  		<li><a href='/sgpa/usuarios/index/'>Usuarios</a></li>
		  		<li><a href='/sgpa/roles/index/'>Roles</a></li>
		  		<li><a href='/sgpa/proyectos/index/'>Proyectos</a></li>
		  		<li><a href='/cerrar'>Cerrar</a></li>
    		</ul>
		</nav>
		
		<link href="/static/estilos.css" rel="stylesheet" type="text/css" />
			<div id="pagina">
				<div id="zonaContenido">
					<div align="center">
						<div id="tituloForm" class="header">VISUALIZAR USUARIO </div>
							<div id="frmBusqueda">
								<table class="fuente8" width="98%" cellspacing=0 cellpadding=3 border=0>
								
									<tr>
										<td width="15%"><b>ID</b></td>
										<td width="85%" colspan="2">{{um.id}}</td>
								    </tr>
								    
									<tr>
										<td width="15%"><b>Nombre de Usuario</b></td>
									    <td width="85%" colspan="2">{{um.username}}</td>
								    </tr>
								    
								    <tr>
										<td width="15%"><b>Email</b></td>
									    <td width="85%" colspan="2">{{um.email}}</td>
								    </tr>
								    
								    <tr>
										<td width="15%"><b>Nombres</b></td>
									    <td width="85%" colspan="2">{{um.first_name}}</td>
								    </tr>
								    
								    <tr>
										<td width="15%"><b>Apellidos</b></td>
									    <td width="85%" colspan="2">{{um.last_name}}</td>
								    </tr>
								    
								    <tr>
										<td width="15%"><b>Tipo de Usuario</b></td>
										{% if up.tipo == 'ur' %}
											<td width="85%" colspan="2">Usuario Regular</td>
										{% else %}
											<td width="85%" colspan="2">Cliente</td>
										{% endif %}
								    </tr>

									<tr>
										<td width="15%"><b>Dirección</b></td>
									    <td width="85%" colspan="2">{{up.direccion}}</td>
								    </tr>
								    
								    <tr>
										<td width="15%"><b>Teléfono</b></td>
									    <td width="85%" colspan="2">{{up.telefono}}</td>
								    </tr>
								    
								    <tr>
										<td width="15%"><b>Observación</b></td>
									    <td width="85%" colspan="2">{{up.observacion}}</td>
								    </tr>
								</table>
							</div>
							<div id="botonBusqueda">
        							<a class="button" onClick="javascript:history.go(-1);"> ATRÁS</a>
        					</div>
						</div>
					</div>
				</div>
			</div>
{% endblock content %}